<script type="text/javascript">
	$(".aa a").on('click',Escogido);
	function Escogido(e){
		e.preventDefault();
		var ulrs=$(this).attr("href");
		//alert(ulrs);
		$.ajax({
			type:'GET',
			url:ulrs,
			success:function(resp){
				$("#FormAjax").html(resp);
			}
		});
	}
</script>
{% for i in resultados %}
<li class="aa">
	<a href="/RegistroProductoView/{{i.id}}/">
	<strong>{{i.Nombre|upper}} {{i.Apellidos|upper}}   - Nro. de Carnet:  {{i.Ci_Nit}}   - Celular:   {{i.Celular}} {% if i.estado %}
				<span><img src="/static/img/icon_success.gif"></span>
			{% else %}
				<span><img src="/static/img/icon_error.gif"></span>
			{% endif %}
			</strong>
	</a>
</li>
{% empty %}

	<strong><a href="#" onclick="NewClient()" style="color:red">No se encontró coincidencias, busque por otro dato, o bien haga click aquí para registrar un nuevo cliente.</a></strong>
{% endfor %}
<style type="text/css">
.aa a{font-size: 18px;}
.aa:hover{background: white;}
</style>