<meta charset="utf-8"><br><br>
<table>
	<tr class="success"><td></td><td></td>
		<td align="center" colspan="9"><br><br> <br><strong>ANALISIS POR: </strong>  {{producto.Elemento.Nombre_del_Elemento|upper}}</td><td style="color:red" colspan="4" align="center"><br><br><br> Nro. CERT. {{producto.id}}</td><td></td>
	</tr>
	<tr><td></td>
		<td colspan="15"><strong>PERTENECIENTE A:</strong> {{producto.Cliente.Nombre|upper}} {{producto.Cliente.Apellidos|upper}}</td>
	</tr>
	<tr><td></td>
		<td colspan="8"> <strong>LOTE Nro. </strong> {{producto.Nro_de_Lote|upper}}</td>
	</tr>
	<tr><td></td>
		<td colspan="8"><strong>PROCEDENCIA:</strong> {{producto.Procedencia|upper}}</td>
		<td colspan="7"><strong>OBS. :</strong> {{producto.Observaciones}}</td>
	</tr>
	{% for i in resultados %}
		<tr>
			<td align="center" colspan="15">
				<!--  forloop.counter == 1  -->
				<strong>
					<br><br><br>
						{% if i.Abreviatura == "Ag" %}
							{{i.Elemento|upper}}	 {{i.Resultado}}  DM {{i.Abreviatura}}
						{% else %}
							{{i.Elemento|upper}}	 {{i.Resultado}}  % {{i.Abreviatura}}
						{% endif %}
					
				</strong> 
			</td>
		</tr>
		{% empty %}
			<tr><td colspan="15" align="center"><strong><br><br><br>Sin resultados</strong></td></tr>
		{% endfor %}</strong> 
</table><br><br><br><br>
<p style="margin-left: 120px; margin-bottom: 0px; font-size: 14px;">
	<strong><br><br>{{fe}}     </strong>
	{% if muestra == 0 %}
		<strong style="color:red">  DUPLICADO</strong>
	{% endif %}
</p>
<style type="text/css" media="print">
#laf{height: 150px; margin-bottom: -50px;}
table{font-size: x-large; width: 100%;margin-left: 25px;}
</style>