<div class="table-responsive">
<table class="table table-hover table-striped">
	<tr class="success">
		<td align="center" colspan="6"> <strong>ANALISIS POR: </strong>  {{producto.Elemento.Nombre_del_Elemento|upper}}</td>
		<td style="color:red" colspan="2"> Nro. CERT. {{producto.id}}</td><td></td>
	</tr>
	<tr>
		<td colspan="2"><br><strong>PERTENECIENTE A:</strong> {{producto.Cliente.Nombre|upper}} {{producto.Cliente.Apellidos|upper}}</td>
		<td colspan="2"><br><strong>PRECIO:</strong> {{producto.Precio}}</td>
		<td><br><strong>CANTIDAD:</strong> {{producto.Cantidad}}</td>
		<td><br><strong>TOTAL:</strong> {{producto.Total}}</td>
		
		<td colspan="2"><br><strong>REGISTRADO POR:</strong> {{producto.Usuario.get_full_name|upper}}</td>
	</tr>

	<tr>
		<td colspan="2"><br><strong>ELEMENTO:</strong> {{producto.Elemento.Abreviatura}}</td>
		<td colspan="2"><br><strong>Nro. de Lote:</strong> {{producto.Nro_de_Lote}}</td>
		<td colspan="4"><br><strong>Fecha de Registro:</strong> {{horasR}}</td>
		<td colspan="2"><br><strong>Estado: </strong> {% if producto.estado %}
				<img src="{{STATIC_URL}}img/icon_success.gif" title="Activo">
			{% else %}
				<img src="{{STATIC_URL}}img/icon_error.gif" title="Inactivo">
			{% endif %}</td>
	</tr>
		<tr>
			<td colspan="2"><strong>PROCEDENCIA: </strong>{{producto.Procedencia|upper}}</td>
			<td colspan="4"><strong>OBS. :</strong> {{producto.Observaciones}}</td>
			<td><strong>FICHA: </strong>{{producto.Ficha}}</td>
		</tr>
		{% for i in resultados %}
		<tr>
			<td colspan="10"><strong>
			{% if i.Abreviatura == "Ag" %}
				{{i.Elemento|upper}}	 {{i.Resultado}}  DM {{i.Abreviatura}}
				{% else %}
				{{i.Elemento|upper}}	 {{i.Resultado}}  % {{i.Abreviatura}}
			{% endif %}
	<a href="/editResultado/{{i.id}}/" title="Editar resultado" type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-pencil"></span>
	</a>
						
	<a href="/deleteResultado/{{i.id}}/" title="Dar Baja este resultado" type="button" class="btn btn-default">
		<span class="glyphicon glyphicon-trash"></span>
	</a>
		</td>
		</strong> 
			</td>
		</tr>
				{% empty %}
					<tr><td colspan="10" align="center"><strong>Sin resultados</strong></td></tr>
				{% endfor %}

	<tr>
		<td>
			<a href="/editProducto/{{producto.id}}/" title="Editar producto" type="button" class="btn btn-default">
				Editar Datos
			</a>
		</td>
		{% if producto.estado %}
		<td>
			<a href="/deleteProducto/{{producto.id}}/" title="Dar Baja" type="button" class="btn btn-default">Dar de baja el producto
			</a>
		</td>
		{% else %}
		<td>
			<a href="/RecuperarProducto/{{producto.id}}/" title="Dar Alta" type="button" class="btn btn-default">Dar de alta el producto
			</a>
		</td>
		{% endif %}
  	<td>
  		
  	</td>
  	<td>
  		<a href="/AgregarResultado/{{producto.id}}/" type="button" class="btn btn-default">Agregar Resultados</a>
  	</td>
	</tr>
</table>
<a href="/ImprimirRecibo/{{producto.id}}/" target="_blank" type="button" class="btn btn-default">Imprimir recibo</a>
<a href="/ImprimirCertificado/{{producto.id}}/1/" target="_blank" type="button" class="btn btn-default">Imprimir Certificado</a>
<a href="/ImprimirCertificado/{{producto.id}}/0/" target="_blank" type="button" class="btn btn-default">Imprimir Duplicado</a>
</div>

<style type="text/css">
table tr td{text-align: center;}
table tr td #ar{
	width: 100px;
}
.ok{width: 100%; height: auto;}
</style>
<script type="text/javascript">
		function kardexSalidas(){
			$.ajax({
				type:'GET',
				url:'/ImprimirKardexSalidas/{{producto.id}}/',
				success:function(resp){
					$(".ok").html(resp);
				}
			});
		}
		function kardexIngreso(){
			$.ajax({
				type:'GET',
				url:'/ImprimirKardexEntradas/{{producto.id}}/',
				success:function(resp){
					$(".ok").html(resp);
				}
			});
		}
</script>
<script type="text/javascript" src="{{STATIC_URL}}js/modales.js"></script>