<div class="table-responsive">
<table class="table table-hover table-striped">
	<tr><td colspan="5" align="center">LISTA DE ELEMENTOS REGISTRADOS</td></tr>
<tr class="success">
	<td>Nombre del Elemento</td>
	<td>Abreviatura</td>
	<td>Fecha Registro</td>
	<td>Editar</td>
	<td>estado</td>
</tr>
{% for i in datos %}
		<tr>
			<td>{{i.Nombre_del_Elemento}}</td>
			<td>{{i.Abreviatura}}</td>
			<td>{{i.fecha_registro}}</td>
			<td>
				{% if user.is_active and user.is_superuser %}
				<a href="/editElemento/{{i.id}}/" title="Editar este registro"><span class="glyphicon glyphicon-pencil"></span></a>
				</span></a>
				{% else %}
					<span class="glyphicon glyphicon-info-sign"></span>
				{% endif %}
			</td>
			<td>{% if i.estado %}
				<a href="/deleteElemento/{{i.id}}/" style="color:red;">
					<span><img src="/static/img/icon_success.gif"></span></a>
			{% else %}
				
				<a href="/RecuperarElemento/{{i.id}}/" style="color:red;">
					<span><img src="/static/img/icon_error.gif"></span></a>
			{% endif %}
		</td>
		</tr>
{% endfor %}
<tr> <td>Total Registros:{{cliente}}</td> </tr>
</table>
</div>
<script type="text/javascript" src="{{STATIC_URL}}js/modales.js"></script>